<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailr: One stop for popular trails in Melbourne</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <%# <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> %>
</head>

<body>
    
    <%= yield %>
    
    <footer>
        <!-- create footer here -->
    </footer>
</body>

</html>