<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailr: One stop for popular trails in Melbourne</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div>
        <nav>
            <div class="explore"><a href="#">Discover</a></div>
            <div class="logo"><img src="images/trailr-hero.png" alt=""></div>
            <div class="account-sign"><a href="#">About</a><button class="sign-up">Sign up</button><button
                    class="log-in">Log in</button>
            </div>
        </nav>
    </div>
    <div class="header-wrapper">
        <div class="header-welcome">

        </div>
        <div class="header-images">

        </div>
        <div class="header-content">

        </div>
        <div class="header-more-content">

        </div>
    </div>
    <div class="search-bar">
        <p>Melbourne</p>
        <i class="fa fa-search"></i><input class="search-bar" type="text">
    </div>
    <div class="feed-tile">
        <div class="feed-image">
            <img src="https://www.visitmelbourne.com/-/media/images/yarra-valley-and-dandenong-ranges/things-to-do/nature-and-wildlife/parks-and-gardens/alfred-nicholas-gardens_yvdr_r_132351_1150x863.jpg?h=600&iar=1&mh=600&mw=800&w=800&ts=20170814220140&hash=E36856CC4FDB9DA78B30CBF05877220A"
                alt="">
        </div>
        <div class="feed-description">
            <h1>Dandenong Ranges</h1>
            <h5>Difficulty (Easy, Moderate, Hard, Expert)</h5>
            <p>Rating (0,5)</p>
            <p>Description</p>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>