<div class="signup-and-in">
    <a href="/"><img src="/images/trailr-hero.png" alt=""></a>
    <h2>Welcome back</h2>
    <form action="/login" method="post">
        <label for="">Username</label>
        <input type="text" name="username" id="">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>login</button>
    </form>
<div>