<div class="signup-and-in">
    <img src="/images/trailr-hero.png" alt="">
    <h2>Welcome back</h2>
    <form action="/login" method="post">
        <label for="">Username</label>
        <input type="text" name="username" id="">
        <label for="">Password</label>
        <input type="text" name="password" type="password">
        <button>login</button>
    </form>
<div>