<div class="signup-and-in">
    <img src="/images/trailr-hero.png" alt="">
    <form action="/signup" method="post">
        <label for="">Username</label>
        <input type="text" name="username" maxlength="18">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password" maxlength="18">
        <button>Create account</button>
    </form>
</div>