@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* =====-- WHOLE DOCUMENT --===== */
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #b2b9b8; /* or lightseagreen */
}

/* =====-- NAVBAR --===== */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eae1c7;
    height: 60px;
    border-radius: 10px;
    
}
.logo img {
    height: 60px;
    margin-left: 85px; /* for hacky centering */
}
.explore a {
    display: flex;
    padding: 20px;
    flex-direction: row;
    text-decoration: none;
    font-weight: 500;
}
.account-sign {
    display: flex;
}
.about-us {
    margin: 0 20px 0 0;
    padding-top: 20px;
}
.account-sign a {
    text-decoration: none;
}
.account-sign button {
    padding: 10px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.sign-up {
    background-color: #e56e27;
    border-style: none;  
}
.sign-up:hover {
    background-color: #e79768;
    border-style: none;  
}
.log-in { 
    background-color: #eae1c7;
    border-style: solid;
    border-color: #e56e27;
}
.log-in:hover { 
    background-color: #eae1c7;
    border-style: solid;
    border-color: #e79768;
}

/* =====-- SINGUP/ SIGNIN --===== */
.signup-and-in {
    background-color: #eae1c7;
    border-radius: 15px;
    width: 600px;
    margin: 100px auto;
    height: 800px;
    padding: 50px;
    text-align: center;
}
.signup-and-in img {
    width: 100%;
    border-radius: 15px;
}
.signup-and-in input {
    display: block;
    border-radius: 15px;
    border: none;
}
.signup-and-in input {
    margin: 25px auto;
}

/* =====-- INDEX HEADING WELCOME/ MAP --===== */
.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 25px auto;
    width: 1250px;
    height: 500px;
    border-radius: 10px;
    background-color:  #eae1c7;
    box-shadow: 0 0 12px #919191
}
.header-welcome {
    padding: 20px;
}
.header-map {
    padding: 20px;
}

/* =====-- SEARCH BAR --===== */
.search-bar {
    display: flex;
    justify-items: space-between;
    margin: 0 auto;
    border-style: none;
    outline: none;
    width: 1150px;
}
.search-bar p {
    margin: 12px;
    padding-right: 50px;
    font-size: 15pt;
}
.search-bar form {
    width: 100%;
    display: flex;
    justify-items: space-between;
    margin: 0 auto;
    border-style: none;
    outline: none;
}
.search-bar input {
    border-radius: 15px;
    font-size: 15pt;
    width: 90%
}
.search-field i {
    position: absolute;
}

/* =====-- TRAILS FEED TIELES --===== */
.feed-tile {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-gap: 25px;
    gap: 25px;
    padding: 15px;
    margin: 25px auto;
    width: 900px;
    border-radius: 10px;
    background-color:  #eae1c7;
    box-shadow: 0 0 12px #919191
}
.feed-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.feed-description {
    height: 160px;
}
.feed-description p {
    font-size: 10pt;
}

/* =====-- SEE MORE TRAILS DATA --===== */
.show-one-trail {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    background-color:  #eae1c7;
    box-shadow: 0 0 12px #919191;
    margin: 25px auto;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    padding: 30px;
}
.show-image img {
    width: 50%;
    border-radius: 10px;
}

/* =====-- NEW TRAIL FORM --===== */
.new-trail {
    background-color:  #eae1c7;
    box-shadow: 0 0 12px #919191;
    margin: 25px auto;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    padding: 30px;
}
.new-trail input, textarea {
    display: block;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    width: 60%;
}
.new-trail select {
    display: block;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    width: 30%;
}
.new-trail textarea {
    margin: 0px 176px 25px 0px; 
    width: 321px; 
    height: 140px;
}

/* =====-- MEDIA QUEIRES  --===== */

@media screen and (max-width: 1290px) {
    .header-wrapper {
        width: 100%;
    }
    .search-bar {
        width: 90%
    }
}

@media screen and (max-width: 960px) {
    .feed-tile {    
        padding: 0;
        width: 80%;
        height: 320px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        grid-gap: 15px;
        gap: 15px
    }
    .feed-image {
        overflow: hidden;
        height: 150px
    }
    .feed-image img {
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0 0;
    }
    .feed-description {
        height: 160px;
        width: 95%;
        padding-left: 15px;
    }
    .feed-description h1 {
        margin: 0;
        font-size: 15pt;
    }
}

@media screen and (max-width: 785px) {
    /* implement a slider for the menu */   
}